# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
Venv/
.venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Project specific ignores
config.json
state.json
logs/
*.exe
.env
*.zip
dist/
build/
*.html
*.png
